* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  border: 1px solid #000;
}

#Background {
  background: url("../Images/DragonsPoint.JPG");
  background-position: center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

.Headers {
  text-align: center;
  border: none;
  background-color: rgba(0, 0, 0, .2);
}

h1 {
  margin: 0;
  padding: 10px;
  display: inline-block;
  position: relative;
  background-color: rgba(255,100,0,0.2);
  color: #FFF;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  width: 120px;
  height: 50px;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 0%;


}
a {
  padding: 0;
  margin: 10px;
  display:inline-block;
  border: none;
}

.Welcoming {
  text-align: center;

}

#onPage {
    background-color: rgba(255,100,0,0.4);
}

h2 {
  display: inline-block;
  text-align: center;
  padding: 10px;
  margin: 25% 0 75%;
  color: #FFF;
  background-color: rgba(0,0,0,.4);
  width: auto;
}
