* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  border: 1px solid #000;
}

#Background {
  background: url("../Images/DesertBee.JPG");
  background-position: center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

.Headers {
  text-align: center;
  border: none;
  background-color: rgba(0, 0, 0, .2);
}

h1 {
  margin: 0;
  padding: 10px;
  display: inline-block;
  position: relative;
  background-color: rgba(255,100,0,0.2);
  color: #FFF;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  width: 120px;
  height: 50px;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 5%;
}

a {
  padding: 0;
  margin: 10px;
  display:inline-block;
  border: none;
}

#onPage {
    background-color: rgba(255,100,0,0.4);
    border-radius: 5%;
}

.item_hover {
  background-color: rgba(255,100,0,0.8);
  border-radius: 5%;
}


p {
  margin: 50% 0 50%
}
